<div class="app-cart">
    <div class="cart-list">
        <mat-list class="custom-mat-list">
            <mat-list-item *ngFor="let eachProd of cartList">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div>
                        <p>Product: <b>{{eachProd.productName}}</b></p>
                        <p>Purchased Qty: <b>{{eachProd.purchasedQty}}</b></p>
                    </div>
                    <div>
                        <mat-icon style="cursor: pointer;" (click)="removeProduct(eachProd)">
                            delete_forever
                        </mat-icon>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="product-page-button">
        <button mat-raised-button color="warn" (click)="purchaseOrder()">Purchase</button>
    </div>

    <div class="product-page-button">
        <button mat-raised-button color="primary" [routerLink]="'/product-list'">Go To Product List</button>
    </div>
</div>