::ng-deep app-cart .app-cart {

    .cart-list {
        padding: 16px 0px;
        display: flex;
        place-content: center;
        max-height: calc(90vh);
        overflow: auto;
    }

    .custom-mat-list {
        width: 40%;

        .mat-mdc-list-item,
        .mat-mdc-list-option {
            background: #efefef;
            height: auto;
            padding: 16px;
            margin: 16px 0px;
        }
    }

    .product-page-button {
        padding: 16px 0px;
        text-align: center;

        button {
            width: 25%;
        }
    }
}